@using Koltseg.ViewModels
@using System.Globalization


@model Dictionary<string, Tuple<int,int>>


<table class="table">
    <thead>
        <tr>
            <th>Hónap</th>
            <th>Havi összes bevétel</th>
            <th>Havi összes kiadás</th>
            <th>Havi összes bevétel- havi összes kiadás</th>
        </tr>
    </thead>
    <tbody>
        @{ var key = "";}
        @for (var i = DateTime.Now.Month - 11; i <= DateTime.Now.Month; i++)
        {
            { key = (i >= 1) ? DateTime.Now.Year.ToString() + "-" + i.ToString() : (DateTime.Now.Year-1).ToString() + "-" + (12 - Math.Abs(i)).ToString(); }
       <tr>
               @* new DateTime(DateTime.Now.Year, i + 1, 1).ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("hu"))*@
               
                    <td>@Html.ActionLink(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i>=1 ? i : 12 - Math.Abs(i)), "Index", "Statisztika", new { id = 1})</td>
                    <td>
                        @try
                        {
                        @Model[key].Item1
                        }
                        catch { }
                    </td>
                    <td>@try
                    {
                       @Model[key].Item2
                    }
                    catch { }
                    </td>
                    <td>@try
                    {
                        @(Model[key].Item1-Model[key].Item2)
                    }
                    catch { }
                    </td>
              
            </tr>
        }
    </tbody>
</table>
